@font-face {
    font-family: "Saint Pegasus";
    src: url("public/Saint Pegasus Font.ttf") format("truetype");
}

:root {
  --layers-count: 24;
  --layer-offset: 1px;
  
  --gold-500: #FFCC3A;
  --gold-100: #FCF7D9;

  --blue-500: #0165ce;
  --blue-100: #fafafa;
}

body {
  background-color: #fafafa;
}

/* 3D Text */

.scene {  
  perspective: 20vw;
}

.scene * {
  transform-style: preserve-3d;
}

.layers-container {
  width: 100%;
  height: 25vw;

  display: flex;
  flex-direction: column;
}

.title-primary {
  font-size: 12vw;
}

.title-secondary {
  font-size: 15vw;
  margin-top: -5vw;
}

.layeredText {
  flex: 1;
  
  position: relative;

  text-align: center;
  text-transform: uppercase;
  font-family: "Saint Pegasus";
  font-weight: 900;

  transform: rotateX(15deg);
}

.layeredText span {
  width: 100%;
  
  color: var(--main-color);
  background: var(--main-color);
  background: linear-gradient(to right, var(--main-color) 25%, var(--secondary-color) 40%, var(--main-color) 50%, var(--secondary-color) 60%, var(--main-color) 75%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  text-align: center;

  position: absolute;
  top: 0;
  left: 0;

  transform: translateZ(calc(var(--layers-count) * var(--layer-offset) + 1px));
}

.layeredText .layers, .layer {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.layeredText .layer {
  --n: calc(var(--i) / var(--layers-count));

  transform: translateZ(calc(var(--i) * var(--layer-offset)));
  color: black;
}

.letter-xl {
  font-size: 150%;
}

.letter-sub {
  vertical-align: top;
  top: -1.5vw;
  left: 0.5vw;
}